:root {
    --background-color: #2b2b2b;

    --gradient-1: #ba97f8;
    --gradient-2: #bf7ad4;
    --gradient-3: #c35db0;
    --gradient-4: #c8418c;
    --gradient-5: #cc2468;
    --gradient-6: #d10744;
}