:root {
    --color-dark-1: #140e30;
    --color-dark-2: #1b123d;
    --color-dark-3: #2c274f;
    --color-dark-4: #312955;

    --color-button-1: #565895;
    --color-button-2: #211d41;

    --color-g: #1dc49b;
    --color-r: #e54787;
    --color-b: #85d0ff;
}