:root {
    --color-dark-1: #030303;
    --color-dark-2: #1a1a1a;
    --color-dark-3: #272729;

    --color-light-1: #dae0e6;
    --color-light-2: #f6f7f8;
    --color-light-3: #ffffff;

    --color-orange: #ff4500;
    --color-blue: #0079d3;

    --color-text-1: #d2d5d7;
    --color-text-2: #818384;
}